.air-img{
    width: 28px;
    margin-left: 75px;
}
.button{
    margin-right: 10px;
    margin-top: -10px;
    height: 45px;
}
.start {
    text-decoration: none;
    color: white;
    background-color: rgba(215,39,50);
    border: 1px rgba(215,39,50) solid;
    border-radius: 5px;
    padding: 7px;
    padding-right: 16px;
    padding-left: 16px; 
    margin-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    

}
.cash {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-right: 15px;
    color: rgba(57, 57, 57);
    
}
.price {
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    margin-right: 15px;
    font-size: 25px;
    color: rgba(57, 57, 57)
}
.header {
display: flex;

justify-content: space-between; 
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
position: fixed;
background-color: white;
top: 0px;

}
.menu{
    background: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url(https://photofiles.alphacoders.com/411/41145.jpg);
    height: 720px;
    width: 100%;
 
    
}
.data {
    height: 495px;
    width: 460px;
    margin-top: 145px;
    margin-right: 85px;
    background-color: white;
    border: 1px white solid;
    border-radius: 5px; 
}
.data_info{
    margin: 20px;
}
.h1{
    font-size: 45px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
}
.h2{
    font-size: 20px;
}
.location{
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
}
.select{
    margin-left: 20px;
    height: 50px;
    font-size: 20px;
    width: 230px; 
    appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
	background-repeat:no-repeat;
	background-size:16px 17px;
    background-position:right 15px;
    padding-left: 10px;

}
.select-2{
    margin-left: 20px;
    height: 50px;
    font-size: 20px;
    width: 160px;
    appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png') 80%;
	background-repeat:no-repeat;
	background-size:16px 17px;
    background-position:right 15px ;
    padding-left: 10px;
    padding-right: 25px;
}
.price-2{
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    margin-right: 15px;
    font-size: 35px;
    color: rgba(57, 57, 57);
    margin-left: 20px;
    

}
.cash-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-right: 15px;
    color: rgba(57, 57, 57);
}
.start-2{
    text-decoration: none;
    color: white;
    background-color: rgba(255, 75, 80);
    border: 1px rgba(255, 75, 80) solid;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 20px;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}